asgiref==3.7.2
backports.zoneinfo==0.2.1
chardet==5.1.0
Django==4.2.2
djangorestframework==3.14.0
greenlet==2.0.2
numpy==1.24.4
pandas==2.0.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
six==1.16.0
SQLAlchemy==2.0.17
sqlparse==0.4.4
typing-extensions==4.7.0
tzdata==2023.3
