<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Details</title>
</head>
<body>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>

        <a href="logout/">Logout</a>
        <h2>Country Details</h2>
        
        <table style="width:100%">
          <tr>
            <th>Name</th>
        <th>code</th>
    <th>continent</th>
<th>region</th>
<th>surface_area</th>
<th>indep_year</th>
<th>population</th>
<th>life_expectancy</th>
<th>gnp</th>
<th>gnpold</th>
<th>local_name</th>
<th>government_form</th>
<th>head_of_state</th>
<th>capital</th>
<th>code2</th>
          </tr>
          <tr>
            <td>{{country_details.name}}</td>
            <td>{{country_details.code}}</td>
            <td>{{country_details.continent}}</td>
            <td>{{country_details.region}}</td>
            <td>{{country_details.surface_area}}</td>
            <td>{{country_details.indep_year}}</td>
            <td>{{country_details.population}}</td>
            <td>{{country_details.life_expectancy}}</td>
            <td>{{country_details.gnp}}</td>
            <td>{{country_details.gnpold}}</td>
            <td>{{country_details.local_name}}</td>
            <td>{{country_details.government_form}}</td>
            <td>{{country_details.head_of_state}}</td>
            <td>{{country_details.capital}}</td>
            <td>{{country_details.code2}}</td>
          </tr>
        </table>
    
</body>
</html>